#home-div2{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1000px;
    background: url('../images/homebackground.webp');
    background-repeat: no-repeat;
   background-size: cover;
    margin-left:150px;
}
#veg-div{
    position:absolute;
    margin-top: 20px;
    margin-left: 200px;
    font-family:cursive;
    font-variant: small-caps;
    font-size: medium;
    font-style: italic;
}
#nonveg-div{
    position:absolute;
    margin-top: 20px;
    margin-left: 600px;
    font-family:cursive;
    font-variant: small-caps;
    font-size: medium;
    font-style: italic;
}