#home-div2{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 900px;
    width: 1000px;
    background: url('../images/homebackground.webp');
    background-repeat: no-repeat;
   background-size: cover;
    margin-left:150px;
}
#veg-div{
    position:absolute;
    margin-top: 20px;
    margin-left: 200px;
    font-family:cursive;
    font-variant: small-caps;
    font-size: medium;
    font-style: italic;
}
#nonveg-div{
    position:absolute;
    margin-top: 20px;
    margin-left: 600px;
    font-family:cursive;
    font-variant: small-caps;
    font-size: medium;
    font-style: italic;
}
#home-addrecipe{
    position: absolute;
    margin-top: 500px;
    margin-left: 450px;
}
#home-h3{
    
    font-family:cursive;
    font-variant: small-caps;
    font-size: medium;
    font-style: italic;
}
#home-addrecipe-button{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    background-color: cornflowerblue;
    color: white;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
}
#home-addrecipe-button:hover{
    background-color: #45a049;
}