#initial-main-div{
    position: relative;
    width: 800px;
    height: 100vh;
    margin-left: 250px;
    background: url('../images/initial2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#initial-h1{
    position: absolute;
    color: white;
    margin-left: 250px;
}
#initial-div1{
    position: absolute;
    margin-top: 140px;
    margin-left: 70px;
    color: white;
}
#initial-div2{
    position: absolute;
    margin-top: 140px;
    margin-left: 420px;
    color: white;
}