#initial-main-div{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/initial2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#initial-h1{
    position: absolute;
    color: white;
    margin-left: 450px;
}
#initial-div1{
    position: absolute;
    margin-top: 230px;
    margin-left: 200px;
    color: white;
}
#initial-div2{
    position: absolute;
    margin-top: 230px;
    margin-left: 700px;
    color: white;
}