
.veg-div2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    height: auto; 
    width: 1000px; 
    background: url('../images/homebackground.webp') no-repeat center center; /* Background image */
    background-size: cover; 
    margin-left: 150px; 
    padding: 20px;
}

.recipe-card {
    width: 300px;
    margin-bottom: 20px; 
    text-align: center; 
    font-family: cursive; 
    font-variant: small-caps; 
    font-size: medium; 
    font-style: italic; 
    position: relative; 
}

.recipe-card img {
    width: 100%; 
    height: 250px;
    border-radius: 10px; 
}
